<div class="builder mt-5 p-3">
    <ng-container *ngFor="let question of formData">
        <div class="form">
            <div class="title">{{question.title}} <span class="text-danger" *ngIf="question.isRequired">*</span></div>
            <div *ngIf="question.type === questionType.PARAGRAPH">
                <p class="text-primary">{{question.answer}}</p>
            </div>
            <div *ngIf="question.type === questionType.CHECKBOX">
                <div class="row" *ngFor="let cb of question.checkbox">
                    <p class="text-primary" *ngIf="cb.isCheck">{{cb.title}}</p>
                    <!-- <div class="col-xl-1 col-md-2 col-3">
                        <input type="checkbox" id="{{cb.value}}" class="form-group" [(ngModel)]="cb.isCheck">
                    </div>
                    <div class="col-xl-11 col-md-10 col-9">
                        <label class="checkbox-title" for="{{cb.value}}">{{cb.title}}</label>
                    </div> -->
                </div>
            </div>
        </div>
    </ng-container>
    <button class="btn btn-primary" (click)="back()">Back To Form</button>
</div>