.builder {
    // min-height: 50vh;
    min-width: 50vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    .form .title {
        font-weight: bold;
        padding: .5rem 0;
    }
}