<div class="builder mt-5 p-3">
    <ng-container *ngFor="let question of formData">
        <div class="form">
            <div class="title">{{question.title}} <span class="text-danger" *ngIf="question.isRequired">*</span></div>
            <div *ngIf="question.type === questionType.PARAGRAPH">
                <textarea placeholder="Your answer" class="form-control form-control-lg" [value]="question.answer" (change)="question.answer = $event.target.value"></textarea>
            </div>
            <div *ngIf="question.type === questionType.CHECKBOX">
                <div class="row" *ngFor="let cb of question.checkbox">
                    <div class="col-xl-1 col-md-2 col-3">
                        <input type="checkbox" id="{{cb.value}}" class="form-group" [checked]="cb.isCheck" (change)="$event.target.value == 'on' ? cb.isCheck = true : cb.isCheck = false">
                    </div>
                    <div class="col-xl-11 col-md-10 col-9">
                        <label class="checkbox-title" for="{{cb.value}}">{{cb.title}}</label>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <button class="btn btn-primary" (click)="addQuestion()"><i class="mdi mdi-plus"></i> Add New Question</button>
    <div class="text-right">
        <button class="btn btn-success" (click)="reviewAnswers()">Review My Answers <i class="mdi mdi-arrow-right-circle-outline"></i></button>
    </div>
</div>
<add-question-modal (onAddedSuccessful)="reloadFormBuilder($event)"></add-question-modal>
