<ng-template #addQuestionModal let-modal>
    <div class="modal-header bg-white" style="height: 4rem;">
    <h5 class="modal-title">Add New Questions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-white">
        <div class="card">
            <div class="card-body p-2">
                <div class="detail-page">
                    <div class="row mb-1 pt-0 pb-0">
                        <p class="col-lg-4 col-md-5">{{addQuestionData.type.title}}:</p>
                        <div class="col-lg-8 col-md-7">
                            <select class="form-control custom-select" (change)="addQuestionData.type.value = $event.target.value">
                                <option value="">--- Select Question Type ---</option> 
                                <option *ngFor="let opt of addQuestionData.type.data" [value]="opt.value">{{opt.key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1 pt-0 pb-0">
                        <p class="col-lg-4 col-md-5">{{addQuestionData.question.title}}:</p>
                        <div class="col-lg-8 col-md-7">
                            <input type="text" class="form-control form-control-lg" (change)="addQuestionData.question.value  = $event.target.value" placeholder="{{addQuestionData.question.placeholder}}">
                        </div>
                    </div>
                    <div *ngIf="addQuestionData.type.value === 'checkbox'">
                        <ng-container *ngFor="let _answer of answerList; let i = index">
                            <div class="row mb-1 pt-0 pb-0">
                                <p class="col-lg-4 col-md-5">Answer {{i + 1}}:</p>
                                <div class="col-lg-8 col-md-7">
                                    <input type="text" class="form-control form-control-lg" (change)="_answer.value = $event.target.value">
                                </div>
                            </div>
                        </ng-container>
                        <a class="cursor-pointer" (click)="addAnswers()">+ Add another answer</a>
                    </div>
                    <div class="row mb-1 pt-0 pb-0">
                        <p class="col-lg-1 col-md-2">
                            <input type="checkbox" id="{{addQuestionData.allowOwnAnswer.id}}" class="form-group" (change)="addQuestionData.allowOwnAnswer.value  = $event.target.value">
                        </p>
                        <div class="col-lg-11 col-md-10">{{addQuestionData.allowOwnAnswer.title}}</div>
                    </div>
                    
                    <div class="row mb-1 pt-0 pb-0">
                        <p class="col-lg-1 col-md-2">
                            <input type="checkbox" id="{{addQuestionData.isRequired.id}}" class="form-group" (change)="addQuestionData.isRequired.value  = $event.target.value">
                        </p>
                        <div class="col-lg-11 col-md-10">{{addQuestionData.isRequired.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-white text-right" style="height: 4rem;">
        <button class="btn btn-success p-2" (click)="submit()"><span class="mdi mdi-content-save"></span> Submit</button>
        <button class="btn btn-secondary p-2 ml-2" (click)="close()"><span class="mdi mdi-cancel"></span> Cancel</button>
    </div>
</ng-template>